In [4]:
import pandas as pd
from pandas import DataFrame, Series

In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', 800)
pd.set_option('display.max_colwidth', 500)
pd.set_option('expand_frame_repr', True)

In [6]:
holidays_dict = {
"	Angola	":"	AO	",
"	Austria	":"	AT	",
"	Australia	":"	AU	",
"	Aruba	":"	AW	",
"	Falkland Islands	":"	AX	",
"	Bosnia and Herzegovina	":"	BA	",
"	Belgium	":"	BE	",
"	Bulgaria	":"	BG	",
"	Bolivia	":"	BO	",
"	Brazil	":"	BR	",
"	The Bahamas	":"	BS	",
"	Canada	":"	CA	",
"	Switzerland	":"	CH	",
"	China	":"	CN	",
"	Colombia	":"	CO	",
"	Costa Rica	":"	CR	",
"	Cuba	":"	CU	",
"	Czech Republic	":"	CZ	",
"	Germany	":"	DE	",
"	Denmark	":"	DK	",
"	Dominican Republic	":"	DO	",
"	Ecuador	":"	EC	",
"	Spain	":"	ES	",
"	Finland	":"	FI	",
"	France	":"	FR	",
"	Alsace	":"	FR	",
"	United Kingdom	":"	GB	",
"	England	":"	GB	",
"	Northern Ireland	":"	GB	",
"	Scotland	":"	GB	",
"	Wales	":"	GB	",
"	Greece	":"	GR	",
"	Guatemala	":"	GT	",
"	Hong Kong	":"	HK	",
"	Honduras	":"	HN	",
"	Croatia	":"	HR	",
"	Hungary	":"	HU	",
"	Indonesia	":"	ID	",
"	Ireland	":"	IE	",
"	India	":"	IN	",
"	Israel	":"	IL	",
"	Iceland	":"	IS	",
"	Italy	":"	IT	",
"	Japan	":"	JP	",
"	Kazakhstan	":"	KZ	",
"	Lesotho	":"	LS	",
"	Luxembourg	":"	LU	",
"	Madagascar	":"	MG	",
"	Martinique	":"	MQ	",
"	Malta	":"	MT	",
"	Mauritius	":"	MU	",
"	Mexico	":"	MX	",
"	Mozambique	":"	MZ	",
"	Nigeria	":"	NG	",
"	Netherlands	":"	NL	",
"	Norway	":"	NO	",
"	Peru	":"	PE	",
"	Pakistan	":"	PK	",
"	Philippines	":"	PH	",
"	Poland	":"	PL	",
"	Puerto Rico	":"	PR	",
"	Portugal	":"	PT	",
"	Paraguay	":"	PY	",
"	Reunion	":"	RE	",
"	Romania	":"	RO	",
"	Russia	":"	RU	",
"	Seychelles	":"	SC	",
"	Sweden	":"	SE	",
"	Singapore	":"	SG	",
"	Slovenia	":"	SI	",
"	Sao Tome and Principe	":"	ST	",
"	Slovakia	":"	SK	",
"	Tunisia	":"	TN	",
"	Turkey	":"	TR	",
"	Ukraine	":"	UA	",
"	United States	":"	US	",
"	Uruguay	":"	UY	",
"	Venezuela	":"	VE	",
"	South Africa	":"	ZA	",
"	Zambia	":"	ZA	",
"	Venezuela	":"	VE	",
"	South Africa	":"	ZA	",

}

In [7]:
h_dict = dict()
holiday_dict = [h_dict.update({value.strip():key.strip()}) for value, key in holidays_dict.items()]
h_dict

{'Alsace': 'FR',
 'Angola': 'AO',
 'Aruba': 'AW',
 'Australia': 'AU',
 'Austria': 'AT',
 'Belgium': 'BE',
 'Bolivia': 'BO',
 'Bosnia and Herzegovina': 'BA',
 'Brazil': 'BR',
 'Bulgaria': 'BG',
 'Canada': 'CA',
 'China': 'CN',
 'Colombia': 'CO',
 'Costa Rica': 'CR',
 'Croatia': 'HR',
 'Cuba': 'CU',
 'Czech Republic': 'CZ',
 'Denmark': 'DK',
 'Dominican Republic': 'DO',
 'Ecuador': 'EC',
 'England': 'GB',
 'Falkland Islands': 'AX',
 'Finland': 'FI',
 'France': 'FR',
 'Germany': 'DE',
 'Greece': 'GR',
 'Guatemala': 'GT',
 'Honduras': 'HN',
 'Hong Kong': 'HK',
 'Hungary': 'HU',
 'Iceland': 'IS',
 'India': 'IN',
 'Indonesia': 'ID',
 'Ireland': 'IE',
 'Israel': 'IL',
 'Italy': 'IT',
 'Japan': 'JP',
 'Kazakhstan': 'KZ',
 'Lesotho': 'LS',
 'Luxembourg': 'LU',
 'Madagascar': 'MG',
 'Malta': 'MT',
 'Martinique': 'MQ',
 'Mauritius': 'MU',
 'Mexico': 'MX',
 'Mozambique': 'MZ',
 'Netherlands': 'NL',
 'Nigeria': 'NG',
 'Northern Ireland': 'GB',
 'Norway': 'NO',
 'Pakistan': 'PK',
 'Paraguay': 'PY',
 'Peru': 'PE',
 'Philippines': 'PH',
 'Poland': 'PL',
 'Portugal': 'PT',
 'Puerto Rico': 'PR',
 'Reunion': 'RE',
 'Romania': 'RO',
 'Russia': 'RU',
 'Sao Tome and Principe': 'ST',
 'Scotland': 'GB',
 'Seychelles': 'SC',
 'Singapore': 'SG',
 'Slovakia': 'SK',
 'Slovenia': 'SI',
 'South Africa': 'ZA',
 'Spain': 'ES',
 'Sweden': 'SE',
 'Switzerland': 'CH',
 'The Bahamas': 'BS',
 'Tunisia': 'TN',
 'Turkey': 'TR',
 'Ukraine': 'UA',
 'United Kingdom': 'GB',
 'United States': 'US',
 'Uruguay': 'UY',
 'Venezuela': 'VE',
 'Wales': 'GB',
 'Zambia': 'ZA'}

In [8]:
import holidayapi

/usr/local/lib/python2.7/dist-packages/requests/__init__.py:83: RequestsDependencyWarning: Old version of cryptography ([1, 2, 3]) may cause slowdown.
  warnings.warn(warning, RequestsDependencyWarning)

In [9]:
holiday_api_key = holiday_api_key = 'c37751f8-3eea-4a41-b839-d6e49ae3c131'

In [10]:
hapi = holidayapi.v1(holiday_api_key)

parameters = {
    'country': 'US',
    'year':    2016,
    'month':    7,
    'day':      4
    }

holidays = hapi.holidays(parameters)

In [11]:
holidays

{u'holidays': [{u'date': u'2016-07-04',
   u'name': u'Independence Day',
   u'observed': u'2016-07-04',
   u'public': True}],
 u'status': 200}

In [12]:
import pandas as pd
from lxml import html
from lxml.html import parse
from urllib2 import urlopen

url = "https://www.timeanddate.com/holidays/japan/2008"

parsed = parse(urlopen(url))

doc = parsed.getroot()

In [13]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x7f789bd3caa0>,
 <Element a at 0x7f789bd3caf8>,
 <Element a at 0x7f789bd3cb50>,
 <Element a at 0x7f789bd3cba8>,
 <Element a at 0x7f789bd3cc00>]

In [14]:
import pandas as pd

d = pd.read_html(url)

In [15]:
d[0]["year"] = 2008
d[0]["contry"] = 'Japan'

In [16]:
d[0]

      Date    Weekday                     Holiday Name      Holiday Type  year contry
0    Jan 1    Tuesday                   New Year's Day  National holiday  2008  Japan
1    Jan 2  Wednesday           January 2 Bank Holiday      Bank holiday  2008  Japan
2    Jan 3   Thursday           January 3 Bank Holiday      Bank holiday  2008  Japan
3   Jan 14     Monday                Coming of Age Day  National holiday  2008  Japan
4   Feb 11     Monday          National Foundation Day  National holiday  2008  Japan
5   Feb 14   Thursday                  Valentine's Day        Observance  2008  Japan
6    Mar 3     Monday  Dolls' Festival/Girls' Festival        Observance  2008  Japan
7   Mar 20   Thursday                    March Equinox            Season  2008  Japan
8   Mar 20   Thursday                   Spring Equinox  National holiday  2008  Japan
9   Apr 29    Tuesday                        Shōwa Day  National holiday  2008  Japan
10   May 3   Saturday        Constitution Memorial Day  National holiday  2008  Japan
11   May 4     Sunday                     Greenery Day  National holiday  2008  Japan
12   May 5     Monday                   Children's Day  National holiday  2008  Japan
13   May 6    Tuesday            Greenery Day observed  National holiday  2008  Japan
14  Jun 20     Friday                    June Solstice            Season  2008  Japan
15   Jul 7     Monday                    Star Festival        Observance  2008  Japan
16  Jul 21     Monday                          Sea Day  National holiday  2008  Japan
17   Aug 6  Wednesday           Hiroshima Memorial Day        Observance  2008  Japan
18   Aug 9   Saturday            Nagasaki Memorial Day        Observance  2008  Japan
19  Sep 15     Monday         Respect for the Aged Day  National holiday  2008  Japan
20  Sep 22     Monday                September Equinox            Season  2008  Japan
21  Sep 23    Tuesday                   Autumn Equinox  National holiday  2008  Japan
22  Oct 13     Monday                       Sports Day  National holiday  2008  Japan
23   Nov 3     Monday                      Culture Day  National holiday  2008  Japan
24  Nov 15   Saturday                        7-5-3 Day        Observance  2008  Japan
25  Nov 23     Sunday           Labor Thanksgiving Day  National holiday  2008  Japan
26  Nov 24     Monday  Labor Thanksgiving Day observed  National holiday  2008  Japan
27  Dec 21     Sunday                December Solstice            Season  2008  Japan
28  Dec 23    Tuesday               Emperor's Birthday  National holiday  2008  Japan
29  Dec 25   Thursday                        Christmas        Observance  2008  Japan
30  Dec 31  Wednesday         December 31 Bank Holiday      Bank holiday  2008  Japan

In [17]:
years = [2008,2009]

countries_ = ["Japan"]

In [18]:
holiday_df = pd.DataFrame([],columns=['Date','Weekday','Holiday Name','Holiday Type','Year','Country'])

In [19]:
holiday_df

Empty DataFrame
Columns: [Date, Weekday, Holiday Name, Holiday Type, Year, Country]
Index: []

In [20]:
_countries_ = {"	Afghanistan	":	"Null"	,
"	Albania	":	"Null"	,
"	Algeria	":	"Null"	,
"	American Samoa	":	"Null"	,
"	Andorra	":	"Null"	,
"	Angola	":	"Null"	,
"	Anguilla	":	"Null"	,
"	Antigua and Barbuda	":	"Null"	,
"	Argentina	":	"Null"	,
"	Armenia	":	"Null"	,
"	Aruba	":	"Null"	,
"	Australia	":	"Null"	,
"	Austria	":	"Null"	,
"	Azerbaijan	":	"Null"	,
"	Bahrain	":	"Null"	,
"	Bangladesh	":	"Null"	,
"	Barbados	":	"Null"	,
"	Belarus	":	"Null"	,
"	Belgium	":	"Null"	,
"	Belize	":	"Null"	,
"	Benin	":	"Null"	,
"	Bermuda	":	"Null"	,
"	Bhutan	":	"Null"	,
"	Bolivia	":	"Null"	,
"	Bosnia and Herzegovina	":	"Null"	,
"	Botswana	":	"Null"	,
"	Brazil	":	"Null"	,
"	British Virgin Islands	":	"Null"	,
"	British Virgin Islands	":	"Null"	,
"	Brunei	":	"Null"	,
"	Bulgaria	":	"Null"	,
"	Burkina Faso	":	"Null"	,
"	Burundi	":	"Null"	,
"	Cabo Verde	":	"Null"	,
"	Cambodia	":	"Null"	,
"	Cameroon	":	"Null"	,
"	Canada	":	"Null"	,
"	Cayman Islands	":	"Null"	,
"	Central African Republic	":	"Null"	,
"	Chad	":	"Null"	,
"	Chile	":	"Null"	,
"	China	":	"Null"	,
"	Colombia	":	"Null"	,
"	Comoros	":	"Null"	,
"	Congo	":	"Null"	,
"	Congo Democratic Republic	":	"Null"	,
"	Cook Islands	":	"Null"	,
"	Costa Rica	":	"Null"	,
"	Ivory Coast	":	"Null"	,
"	Croatia	":	"Null"	,
"	Cuba	":	"Null"	,
"	Curacao	":	"Null"	,
"	Cyprus	":	"Null"	,
"	Cyprus	":	"Null"	,
"	Czech Republic	":	"Null"	,
"	Denmark	":	"Null"	,
"	Djibouti	":	"Null"	,
"	Dominica	":	"Null"	,
"	Dominican Republic	":	"Null"	,
"	East Timor	":	"Null"	,
"	Ecuador	":	"Null"	,
"	Egypt	":	"Null"	,
"	El Salvador	":	"Null"	,
"	Equatorial Guinea	":	"Null"	,
"	Eritrea	":	"Null"	,
"	Estonia	":	"Null"	,
"	eSwatini	":	"Null"	,
"	Ethiopia	":	"Null"	,
"	Falkland Islands	":	"Null"	,
"	Faroe Islands	":	"Null"	,
"	Fiji	":	"Null"	,
"	Finland	":	"Null"	,
"	France	":	"Null"	,
"	French Guiana	":	"Null"	,
"	French Polynesia	":	"Null"	,
"	Gabon	":	"Null"	,
"	Gambia	":	"Null"	,
"	Georgia	":	"Null"	,
"	Georgia	":	"Null"	,
"	Germany	":	"Null"	,
"	Ghana	":	"Null"	,
"	Gibraltar	":	"Null"	,
"	Greece	":	"Null"	,
"	Greenland	":	"Null"	,
"	Grenada	":	"Null"	,
"	Guam	":	"Null"	,
"	Guatemala	":	"Null"	,
"	Guernsey	":	"Null"	,
"	Guinea	":	"Null"	,
"	Guinea-Bissau	":	"Null"	,
"	Guyana	":	"Null"	,
"	Haiti	":	"Null"	,
"	Holy See	":	"Null"	,
"	Honduras	":	"Null"	,
"	Hong Kong	":	"Null"	,
"	Hungary	":	"Null"	,
"	Iceland	":	"Null"	,
"	India	":	"Null"	,
"	Indonesia	":	"Null"	,
"	Iran	":	"Null"	,
"	Iraq	":	"Null"	,
"	Ireland	":	"Null"	,
"	Isle of Man	":	"Null"	,
"	Israel	":	"Null"	,
"	Italy	":	"Null"	,
"	Jamaica	":	"Null"	,
"	Japan	":	"Null"	,
"	Jersey	":	"Null"	,
"	Jordan	":	"Null"	,
"	Kazakhstan	":	"Null"	,
"	Kenya	":	"Null"	,
"	Kiribati	":	"Null"	,
"	Kosovo	":	"Null"	,
"	Kuwait	":	"Null"	,
"	Kyrgyzstan	":	"Null"	,
"	Laos	":	"Null"	,
"	Latvia	":	"Null"	,
"	Lebanon	":	"Null"	,
"	Lesotho	":	"Null"	,
"	Liberia	":	"Null"	,
"	Libya	":	"Null"	,
"	Liechtenstein	":	"Null"	,
"	Lithuania	":	"Null"	,
"	Luxembourg	":	"Null"	,
"	Macau	":	"Null"	,
"	Macedonia	":	"Null"	,
"	Madagascar	":	"Null"	,
"	Malawi	":	"Null"	,
"	Malaysia	":	"Null"	,
"	Maldives	":	"Null"	,
"	Mali	":	"Null"	,
"	Malta	":	"Null"	,
"	Marshall Islands	":	"Null"	,
"	Martinique	":	"Null"	,
"	Mauritania	":	"Null"	,
"	Mauritius	":	"Null"	,
"	Mayotte	":	"Null"	,
"	Mexico	":	"Null"	,
"	Micronesia	":	"Null"	,
"	Moldova	":	"Null"	,
"	Monaco	":	"Null"	,
"	Mongolia	":	"Null"	,
"	Montenegro	":	"Null"	,
"	Montserrat	":	"Null"	,
"	Morocco	":	"Null"	,
"	Mozambique	":	"Null"	,
"	Myanmar	":	"Null"	,
"	Namibia	":	"Null"	,
"	Nauru	":	"Null"	,
"	Nepal	":	"Null"	,
"	Netherlands	":	"Null"	,
"	New Caledonia	":	"Null"	,
"	New Zealand	":	"Null"	,
"	Nicaragua	":	"Null"	,
"	Niger	":	"Null"	,
"	Nigeria	":	"Null"	,
"	North Korea	":	"Null"	,
"	Northern Mariana Islands	":	"Null"	,
"	Norway	":	"Null"	,
"	Oman	":	"Null"	,
"	Pakistan	":	"Null"	,
"	Palau	":	"Null"	,
"	Panama	":	"Null"	,
"	Papua New Guinea	":	"Null"	,
"	Paraguay	":	"Null"	,
"	Peru	":	"Null"	,
"	Philippines	":	"Null"	,
"	Poland	":	"Null"	,
"	Portugal	":	"Null"	,
"	Puerto Rico	":	"Null"	,
"	Qatar	":	"Null"	,
"	Reunion	":	"Null"	,
"	Romania	":	"Null"	,
"	Russia	":	"Null"	,
"	Russia	":	"Null"	,
"	Rwanda	":	"Null"	,
"	Saint Helena	":	"Null"	,
"	Saint Kitts and Nevis	":	"Null"	,
"	Saint Lucia	":	"Null"	,
"	Saint Martin	":	"Null"	,
"	Saint Pierre and Miquelon	":	"Null"	,
"	Saint Vincent and the Grenadines	":	"Null"	,
"	Samoa	":	"Null"	,
"	San Marino	":	"Null"	,
"	Sao Tome and Principe	":	"Null"	,
"	Saudi Arabia	":	"Null"	,
"	Senegal	":	"Null"	,
"	Serbia	":	"Null"	,
"	Seychelles	":	"Null"	,
"	Sierra Leone	":	"Null"	,
"	Singapore	":	"Null"	,
"	Sint Maarten	":	"Null"	,
"	Slovakia	":	"Null"	,
"	Slovenia	":	"Null"	,
"	Solomon Islands	":	"Null"	,
"	Somalia	":	"Null"	,
"	South Africa	":	"Null"	,
"	South Korea	":	"Null"	,
"	South Sudan	":	"Null"	,
"	Spain	":	"Null"	,
"	Sri Lanka	":	"Null"	,
"	St. Barts	":	"Null"	,
"	Sudan	":	"Null"	,
"	Suriname	":	"Null"	,
"	Sweden	":	"Null"	,
"	Switzerland	":	"Null"	,
"	Syria	":	"Null"	,
"	Taiwan	":	"Null"	,
"	Tajikistan	":	"Null"	,
"	Tanzania	":	"Null"	,
"	Thailand	":	"Null"	,
"	The Bahamas	":	"Null"	,
"	Togo	":	"Null"	,
"	Tonga	":	"Null"	,
"	Trinidad and Tobago	":	"Null"	,
"	Tunisia	":	"Null"	,
"	Turkey	":	"Null"	,
"	Turkey	":	"Null"	,
"	Turkmenistan	":	"Null"	,
"	Turks and Caicos Islands	":	"Null"	,
"	Tuvalu	":	"Null"	,
"	Uganda	":	"Null"	,
"	Ukraine	":	"Null"	,
"	United Arab Emirates	":	"Null"	,
"	United Kingdom	":	"Null"	,
"	United States	":	"Null"	,
"	Uruguay	":	"Null"	,
"	US Virgin Islands	":	"Null"	,
"	Uzbekistan	":	"Null"	,
"	Vanuatu	":	"Null"	,
"	Venezuela	":	"Null"	,
"	Vietnam	":	"Null"	,
"	Wallis and Futuna	":	"Null"	,
"	Yemen	":	"Null"	,
"	Zambia	":	"Null"	,
"	Zimbabwe	":	"Null"	}

#### Generate list of countries and create list of alternate country_names [exceptions]

In [21]:
_countries = [c.lower().strip() for c in _countries_.keys()]

In [22]:
_countries

['palau',
 'saint pierre and miquelon',
 'cameroon',
 'kosovo',
 'zimbabwe',
 'bosnia and herzegovina',
 'united kingdom',
 'martinique',
 'australia',
 'belize',
 'central african republic',
 'angola',
 'burkina faso',
 'bermuda',
 'cook islands',
 'ethiopia',
 'montserrat',
 'samoa',
 'guam',
 'jersey',
 'saudi arabia',
 'japan',
 'seychelles',
 'american samoa',
 'el salvador',
 'sint maarten',
 'somalia',
 'gabon',
 'libya',
 'congo democratic republic',
 'cyprus',
 'equatorial guinea',
 'ireland',
 'iran',
 'estonia',
 'chad',
 'gambia',
 'germany',
 'iceland',
 'poland',
 'holy see',
 'montenegro',
 'sierra leone',
 'eswatini',
 'saint vincent and the grenadines',
 'cuba',
 'malawi',
 'solomon islands',
 'laos',
 'cambodia',
 'macedonia',
 'ukraine',
 'lebanon',
 'brunei',
 'nicaragua',
 'moldova',
 'niger',
 'mozambique',
 'botswana',
 'lesotho',
 'british virgin islands',
 'nauru',
 'andorra',
 'uruguay',
 'luxembourg',
 'slovakia',
 'tanzania',
 'congo',
 'tuvalu',
 'namibia',
 'micronesia',
 'myanmar',
 'madagascar',
 'zambia',
 'morocco',
 'albania',
 'dominican republic',
 'bolivia',
 'north korea',
 'marshall islands',
 'thailand',
 'portugal',
 'singapore',
 'new zealand',
 'ghana',
 'france',
 'india',
 'serbia',
 'russia',
 'vanuatu',
 'haiti',
 'syria',
 'trinidad and tobago',
 'belgium',
 'finland',
 'guernsey',
 'northern mariana islands',
 'falkland islands',
 'saint helena',
 'brazil',
 'togo',
 'anguilla',
 'saint kitts and nevis',
 'gibraltar',
 'latvia',
 'algeria',
 'liberia',
 'mongolia',
 'vietnam',
 'united arab emirates',
 'czech republic',
 'cayman islands',
 'nepal',
 'east timor',
 'jamaica',
 'sri lanka',
 'bangladesh',
 'hungary',
 'uzbekistan',
 'kazakhstan',
 'austria',
 'ivory coast',
 'canada',
 'argentina',
 'venezuela',
 'taiwan',
 'mayotte',
 'guyana',
 'curacao',
 'kuwait',
 'indonesia',
 'iraq',
 'malaysia',
 'tajikistan',
 'china',
 'monaco',
 'djibouti',
 'bahrain',
 'bhutan',
 'grenada',
 'norway',
 'armenia',
 'azerbaijan',
 'costa rica',
 'burundi',
 'south africa',
 'peru',
 'slovenia',
 'tunisia',
 'french guiana',
 'uganda',
 'jordan',
 'colombia',
 'greenland',
 'spain',
 'reunion',
 'the bahamas',
 'italy',
 'switzerland',
 'senegal',
 'turks and caicos islands',
 'suriname',
 'belarus',
 'tonga',
 'new caledonia',
 'mali',
 'fiji',
 'greece',
 'afghanistan',
 'faroe islands',
 'comoros',
 'turkmenistan',
 'us virgin islands',
 'kiribati',
 'malta',
 'aruba',
 'papua new guinea',
 'turkey',
 'macau',
 'cabo verde',
 'saint martin',
 'romania',
 'nigeria',
 'mauritania',
 'barbados',
 'georgia',
 'liechtenstein',
 'lithuania',
 'maldives',
 'kyrgyzstan',
 'south korea',
 'pakistan',
 'egypt',
 'puerto rico',
 'guinea-bissau',
 'dominica',
 'san marino',
 'french polynesia',
 'sudan',
 'panama',
 'south sudan',
 'paraguay',
 'eritrea',
 'croatia',
 'united states',
 'israel',
 'benin',
 'chile',
 'wallis and futuna',
 'bulgaria',
 'honduras',
 'ecuador',
 'saint lucia',
 'sao tome and principe',
 'mexico',
 'sweden',
 'netherlands',
 'oman',
 'denmark',
 'mauritius',
 'st. barts',
 'guatemala',
 'qatar',
 'antigua and barbuda',
 'isle of man',
 'yemen',
 'kenya',
 'hong kong',
 'philippines',
 'guinea',
 'rwanda']

In [23]:
exceptions = {"czech republic":"czech","bosnia and herzegovina":"bosnia","alsace":"france","eswatini":"swaziland",
              "united states":"us","united kingdom":"uk","wales":"uk","scotland":"uk", "northern ireland":"uk",
              "congo democratic republic":"dr-congo","equatorial guinea":"guineaecuatorial", "congo":"republic-of-the-congo",
              "east timor":"timor-leste", "trinidad and tobago":"trinidad","the bahamas":"bahamas", "comoros":"comores",
              "us virgin islands":"united-states-virgin-islands","cabo verde":"cape-verde","st. barts":"saint-barthelemy",
              "russian federation":"russia", "cote d'ivoire":"ivory coast", "korea, democratic people's republic of":"north korea",
              "congo, the democratic republic of the":"dr-congo"}

In [24]:
h_dict.keys()[5]

'The Bahamas'

In [25]:
base_url   = "https://www.timeanddate.com/holidays/"

countries  = [ c.lower() for c in h_dict.keys()]


for country in _countries:
    
    for year in years:
        if country.lower().startswith("the"):
            country == country.lower().replace("the ","")
            print("COUNTRY: {} replaced THE ".format(country))
        else:
            if country in exceptions:
                country = exceptions[country]
                print("COUNTRY: {}  found in EXCEPTIONS DICT".format(country))
            elif " " in country.lower():
                country = "-".join(country.lower().split(" "))
                print("COUNTRY: {} not found CONCATENATED NAME".format(country))
            else:
                pass
        try:
            url = base_url + str(country).lower() + "/" + str(year)
            d = pd.read_html(url)
            d[0]["Year"] = int(year)
            d[0]["Country"] = country
            print("Found holidays for:\t{}".format(country))
            holiday_df = pd.concat([holiday_df, d[0]])
        except:
            print("COUNTRY: {} not found @timeanddate.com".format(country))
            print("COUNTRY: {} not found @timeanddate.com II".format(country))

Found holidays for:	palau
Found holidays for:	palau
COUNTRY: saint-pierre-and-miquelon not found CONCATENATED NAME
Found holidays for:	saint-pierre-and-miquelon
Found holidays for:	saint-pierre-and-miquelon
Found holidays for:	cameroon
Found holidays for:	cameroon
Found holidays for:	kosovo
Found holidays for:	kosovo
Found holidays for:	zimbabwe
Found holidays for:	zimbabwe
COUNTRY: bosnia  found in EXCEPTIONS DICT
Found holidays for:	bosnia
Found holidays for:	bosnia
COUNTRY: uk  found in EXCEPTIONS DICT
Found holidays for:	uk
Found holidays for:	uk
Found holidays for:	martinique
Found holidays for:	martinique
Found holidays for:	australia
Found holidays for:	australia
Found holidays for:	belize
Found holidays for:	belize
COUNTRY: central-african-republic not found CONCATENATED NAME
Found holidays for:	central-african-republic
Found holidays for:	central-african-republic
Found holidays for:	angola
Found holidays for:	angola
COUNTRY: burkina-faso not found CONCATENATED NAME
Found holidays for:	burkina-faso
Found holidays for:	burkina-faso
Found holidays for:	bermuda
Found holidays for:	bermuda
COUNTRY: cook-islands not found CONCATENATED NAME
Found holidays for:	cook-islands
Found holidays for:	cook-islands
Found holidays for:	ethiopia
Found holidays for:	ethiopia
Found holidays for:	montserrat
Found holidays for:	montserrat
Found holidays for:	samoa
Found holidays for:	samoa
Found holidays for:	guam
Found holidays for:	guam
Found holidays for:	jersey
Found holidays for:	jersey
COUNTRY: saudi-arabia not found CONCATENATED NAME
Found holidays for:	saudi-arabia
Found holidays for:	saudi-arabia
Found holidays for:	japan
Found holidays for:	japan
Found holidays for:	seychelles
Found holidays for:	seychelles
COUNTRY: american-samoa not found CONCATENATED NAME
Found holidays for:	american-samoa
Found holidays for:	american-samoa
COUNTRY: el-salvador not found CONCATENATED NAME
Found holidays for:	el-salvador
Found holidays for:	el-salvador
COUNTRY: sint-maarten not found CONCATENATED NAME
Found holidays for:	sint-maarten
Found holidays for:	sint-maarten
Found holidays for:	somalia
Found holidays for:	somalia
Found holidays for:	gabon
Found holidays for:	gabon
Found holidays for:	libya
Found holidays for:	libya
COUNTRY: dr-congo  found in EXCEPTIONS DICT
Found holidays for:	dr-congo
Found holidays for:	dr-congo
Found holidays for:	cyprus
Found holidays for:	cyprus
COUNTRY: guineaecuatorial  found in EXCEPTIONS DICT
Found holidays for:	guineaecuatorial
Found holidays for:	guineaecuatorial
Found holidays for:	ireland
Found holidays for:	ireland
Found holidays for:	iran
Found holidays for:	iran
Found holidays for:	estonia
Found holidays for:	estonia
Found holidays for:	chad
Found holidays for:	chad
Found holidays for:	gambia
Found holidays for:	gambia
Found holidays for:	germany
Found holidays for:	germany
Found holidays for:	iceland
Found holidays for:	iceland
Found holidays for:	poland
Found holidays for:	poland
COUNTRY: holy-see not found CONCATENATED NAME
COUNTRY: holy-see not found @timeanddate.com
COUNTRY: holy-see not found @timeanddate.com II
COUNTRY: holy-see not found @timeanddate.com
COUNTRY: holy-see not found @timeanddate.com II
Found holidays for:	montenegro
Found holidays for:	montenegro
COUNTRY: sierra-leone not found CONCATENATED NAME
Found holidays for:	sierra-leone
Found holidays for:	sierra-leone
COUNTRY: swaziland  found in EXCEPTIONS DICT
Found holidays for:	swaziland
Found holidays for:	swaziland
COUNTRY: saint-vincent-and-the-grenadines not found CONCATENATED NAME
Found holidays for:	saint-vincent-and-the-grenadines
Found holidays for:	saint-vincent-and-the-grenadines
Found holidays for:	cuba
Found holidays for:	cuba
Found holidays for:	malawi
Found holidays for:	malawi
COUNTRY: solomon-islands not found CONCATENATED NAME
Found holidays for:	solomon-islands
Found holidays for:	solomon-islands
Found holidays for:	laos
Found holidays for:	laos
Found holidays for:	cambodia
Found holidays for:	cambodia
Found holidays for:	macedonia
Found holidays for:	macedonia
Found holidays for:	ukraine
Found holidays for:	ukraine
Found holidays for:	lebanon
Found holidays for:	lebanon
Found holidays for:	brunei
Found holidays for:	brunei
Found holidays for:	nicaragua
Found holidays for:	nicaragua
Found holidays for:	moldova
Found holidays for:	moldova
Found holidays for:	niger
Found holidays for:	niger
Found holidays for:	mozambique
Found holidays for:	mozambique
Found holidays for:	botswana
Found holidays for:	botswana
Found holidays for:	lesotho
Found holidays for:	lesotho
COUNTRY: british-virgin-islands not found CONCATENATED NAME
Found holidays for:	british-virgin-islands
Found holidays for:	british-virgin-islands
Found holidays for:	nauru
Found holidays for:	nauru
Found holidays for:	andorra
Found holidays for:	andorra
Found holidays for:	uruguay
Found holidays for:	uruguay
Found holidays for:	luxembourg
Found holidays for:	luxembourg
Found holidays for:	slovakia
Found holidays for:	slovakia
Found holidays for:	tanzania
Found holidays for:	tanzania
COUNTRY: republic-of-the-congo  found in EXCEPTIONS DICT
Found holidays for:	republic-of-the-congo
Found holidays for:	republic-of-the-congo
Found holidays for:	tuvalu
Found holidays for:	tuvalu
Found holidays for:	namibia
Found holidays for:	namibia
Found holidays for:	micronesia
Found holidays for:	micronesia
Found holidays for:	myanmar
Found holidays for:	myanmar
Found holidays for:	madagascar
Found holidays for:	madagascar
Found holidays for:	zambia
Found holidays for:	zambia
Found holidays for:	morocco
Found holidays for:	morocco
Found holidays for:	albania
Found holidays for:	albania
COUNTRY: dominican-republic not found CONCATENATED NAME
Found holidays for:	dominican-republic
Found holidays for:	dominican-republic
Found holidays for:	bolivia
Found holidays for:	bolivia
COUNTRY: north-korea not found CONCATENATED NAME
Found holidays for:	north-korea
Found holidays for:	north-korea
COUNTRY: marshall-islands not found CONCATENATED NAME
Found holidays for:	marshall-islands
Found holidays for:	marshall-islands
Found holidays for:	thailand
Found holidays for:	thailand
Found holidays for:	portugal
Found holidays for:	portugal
Found holidays for:	singapore
Found holidays for:	singapore
COUNTRY: new-zealand not found CONCATENATED NAME
Found holidays for:	new-zealand
Found holidays for:	new-zealand
Found holidays for:	ghana
Found holidays for:	ghana
Found holidays for:	france
Found holidays for:	france
Found holidays for:	india
Found holidays for:	india
Found holidays for:	serbia
Found holidays for:	serbia
Found holidays for:	russia
Found holidays for:	russia
Found holidays for:	vanuatu
Found holidays for:	vanuatu
Found holidays for:	haiti
Found holidays for:	haiti
Found holidays for:	syria
Found holidays for:	syria
COUNTRY: trinidad  found in EXCEPTIONS DICT
Found holidays for:	trinidad
Found holidays for:	trinidad
Found holidays for:	belgium
Found holidays for:	belgium
Found holidays for:	finland
Found holidays for:	finland
Found holidays for:	guernsey
Found holidays for:	guernsey
COUNTRY: northern-mariana-islands not found CONCATENATED NAME
Found holidays for:	northern-mariana-islands
Found holidays for:	northern-mariana-islands
COUNTRY: falkland-islands not found CONCATENATED NAME
Found holidays for:	falkland-islands
Found holidays for:	falkland-islands
COUNTRY: saint-helena not found CONCATENATED NAME
Found holidays for:	saint-helena
Found holidays for:	saint-helena
Found holidays for:	brazil
Found holidays for:	brazil
Found holidays for:	togo
Found holidays for:	togo
Found holidays for:	anguilla
Found holidays for:	anguilla
COUNTRY: saint-kitts-and-nevis not found CONCATENATED NAME
Found holidays for:	saint-kitts-and-nevis
Found holidays for:	saint-kitts-and-nevis
Found holidays for:	gibraltar
Found holidays for:	gibraltar
Found holidays for:	latvia
Found holidays for:	latvia
Found holidays for:	algeria
Found holidays for:	algeria
Found holidays for:	liberia
Found holidays for:	liberia
Found holidays for:	mongolia
Found holidays for:	mongolia
Found holidays for:	vietnam
Found holidays for:	vietnam
COUNTRY: united-arab-emirates not found CONCATENATED NAME
Found holidays for:	united-arab-emirates

Found holidays for:	united-arab-emirates
COUNTRY: czech  found in EXCEPTIONS DICT
Found holidays for:	czech
Found holidays for:	czech
COUNTRY: cayman-islands not found CONCATENATED NAME
Found holidays for:	cayman-islands
Found holidays for:	cayman-islands
Found holidays for:	nepal
Found holidays for:	nepal
COUNTRY: timor-leste  found in EXCEPTIONS DICT
Found holidays for:	timor-leste
Found holidays for:	timor-leste
Found holidays for:	jamaica
Found holidays for:	jamaica
COUNTRY: sri-lanka not found CONCATENATED NAME
Found holidays for:	sri-lanka
Found holidays for:	sri-lanka
Found holidays for:	bangladesh
Found holidays for:	bangladesh
Found holidays for:	hungary
Found holidays for:	hungary
Found holidays for:	uzbekistan
Found holidays for:	uzbekistan
Found holidays for:	kazakhstan
Found holidays for:	kazakhstan
Found holidays for:	austria
Found holidays for:	austria
COUNTRY: ivory-coast not found CONCATENATED NAME
Found holidays for:	ivory-coast
Found holidays for:	ivory-coast
Found holidays for:	canada
Found holidays for:	canada
Found holidays for:	argentina
Found holidays for:	argentina
Found holidays for:	venezuela
Found holidays for:	venezuela
Found holidays for:	taiwan
Found holidays for:	taiwan
Found holidays for:	mayotte
Found holidays for:	mayotte
Found holidays for:	guyana
Found holidays for:	guyana
Found holidays for:	curacao
Found holidays for:	curacao
Found holidays for:	kuwait
Found holidays for:	kuwait
Found holidays for:	indonesia
Found holidays for:	indonesia
Found holidays for:	iraq
Found holidays for:	iraq
Found holidays for:	malaysia
Found holidays for:	malaysia
Found holidays for:	tajikistan
Found holidays for:	tajikistan
Found holidays for:	china
Found holidays for:	china
Found holidays for:	monaco
Found holidays for:	monaco
Found holidays for:	djibouti
Found holidays for:	djibouti
Found holidays for:	bahrain
Found holidays for:	bahrain
Found holidays for:	bhutan
Found holidays for:	bhutan
Found holidays for:	grenada
Found holidays for:	grenada
Found holidays for:	norway
Found holidays for:	norway
Found holidays for:	armenia
Found holidays for:	armenia
Found holidays for:	azerbaijan
Found holidays for:	azerbaijan
COUNTRY: costa-rica not found CONCATENATED NAME
Found holidays for:	costa-rica
Found holidays for:	costa-rica
Found holidays for:	burundi
Found holidays for:	burundi
COUNTRY: south-africa not found CONCATENATED NAME
Found holidays for:	south-africa
Found holidays for:	south-africa
Found holidays for:	peru
Found holidays for:	peru
Found holidays for:	slovenia
Found holidays for:	slovenia
Found holidays for:	tunisia
Found holidays for:	tunisia
COUNTRY: french-guiana not found CONCATENATED NAME
Found holidays for:	french-guiana
Found holidays for:	french-guiana
Found holidays for:	uganda
Found holidays for:	uganda
Found holidays for:	jordan
Found holidays for:	jordan
Found holidays for:	colombia
Found holidays for:	colombia
Found holidays for:	greenland
Found holidays for:	greenland
Found holidays for:	spain
Found holidays for:	spain
Found holidays for:	reunion
Found holidays for:	reunion
COUNTRY: the bahamas replaced THE
COUNTRY: the bahamas not found @timeanddate.com
COUNTRY: the bahamas not found @timeanddate.com II
COUNTRY: the bahamas replaced THE
COUNTRY: the bahamas not found @timeanddate.com
COUNTRY: the bahamas not found @timeanddate.com II
Found holidays for:	italy
Found holidays for:	italy
Found holidays for:	switzerland
Found holidays for:	switzerland
Found holidays for:	senegal
Found holidays for:	senegal
COUNTRY: turks-and-caicos-islands not found CONCATENATED NAME
Found holidays for:	turks-and-caicos-islands
Found holidays for:	turks-and-caicos-islands
Found holidays for:	suriname
Found holidays for:	suriname
Found holidays for:	belarus
Found holidays for:	belarus
Found holidays for:	tonga
Found holidays for:	tonga
COUNTRY: new-caledonia not found CONCATENATED NAME
Found holidays for:	new-caledonia
Found holidays for:	new-caledonia
Found holidays for:	mali
Found holidays for:	mali
Found holidays for:	fiji
Found holidays for:	fiji
Found holidays for:	greece
Found holidays for:	greece
Found holidays for:	afghanistan
Found holidays for:	afghanistan
COUNTRY: faroe-islands not found CONCATENATED NAME
Found holidays for:	faroe-islands
Found holidays for:	faroe-islands
COUNTRY: comores  found in EXCEPTIONS DICT
Found holidays for:	comores
Found holidays for:	comores
Found holidays for:	turkmenistan
Found holidays for:	turkmenistan
COUNTRY: united-states-virgin-islands  found in EXCEPTIONS DICT
Found holidays for:	united-states-virgin-islands
Found holidays for:	united-states-virgin-islands
Found holidays for:	kiribati
Found holidays for:	kiribati
Found holidays for:	malta
Found holidays for:	malta
Found holidays for:	aruba
Found holidays for:	aruba
COUNTRY: papua-new-guinea not found CONCATENATED NAME
Found holidays for:	papua-new-guinea
Found holidays for:	papua-new-guinea
Found holidays for:	turkey
Found holidays for:	turkey
Found holidays for:	macau
Found holidays for:	macau
COUNTRY: cape-verde  found in EXCEPTIONS DICT
Found holidays for:	cape-verde
Found holidays for:	cape-verde
COUNTRY: saint-martin not found CONCATENATED NAME
Found holidays for:	saint-martin
Found holidays for:	saint-martin
Found holidays for:	romania
Found holidays for:	romania
Found holidays for:	nigeria
Found holidays for:	nigeria
Found holidays for:	mauritania
Found holidays for:	mauritania
Found holidays for:	barbados
Found holidays for:	barbados
Found holidays for:	georgia
Found holidays for:	georgia
Found holidays for:	liechtenstein
Found holidays for:	liechtenstein
Found holidays for:	lithuania
Found holidays for:	lithuania
Found holidays for:	maldives
Found holidays for:	maldives
Found holidays for:	kyrgyzstan
Found holidays for:	kyrgyzstan
COUNTRY: south-korea not found CONCATENATED NAME
Found holidays for:	south-korea
Found holidays for:	south-korea
Found holidays for:	pakistan
Found holidays for:	pakistan
Found holidays for:	egypt
Found holidays for:	egypt
COUNTRY: puerto-rico not found CONCATENATED NAME
Found holidays for:	puerto-rico
Found holidays for:	puerto-rico
Found holidays for:	guinea-bissau
Found holidays for:	guinea-bissau
Found holidays for:	dominica
Found holidays for:	dominica
COUNTRY: san-marino not found CONCATENATED NAME
Found holidays for:	san-marino
Found holidays for:	san-marino
COUNTRY: french-polynesia not found CONCATENATED NAME
Found holidays for:	french-polynesia
Found holidays for:	french-polynesia
Found holidays for:	sudan
Found holidays for:	sudan
Found holidays for:	panama
Found holidays for:	panama
COUNTRY: south-sudan not found CONCATENATED NAME
Found holidays for:	south-sudan
Found holidays for:	south-sudan
Found holidays for:	paraguay
Found holidays for:	paraguay
Found holidays for:	eritrea
Found holidays for:	eritrea
Found holidays for:	croatia
Found holidays for:	croatia
COUNTRY: us  found in EXCEPTIONS DICT
Found holidays for:	us
Found holidays for:	us
Found holidays for:	israel
Found holidays for:	israel
Found holidays for:	benin
Found holidays for:	benin
Found holidays for:	chile
Found holidays for:	chile
COUNTRY: wallis-and-futuna not found CONCATENATED NAME
Found holidays for:	wallis-and-futuna
Found holidays for:	wallis-and-futuna
Found holidays for:	bulgaria
Found holidays for:	bulgaria
Found holidays for:	honduras
Found holidays for:	honduras
Found holidays for:	ecuador
Found holidays for:	ecuador
COUNTRY: saint-lucia not found CONCATENATED NAME
Found holidays for:	saint-lucia
Found holidays for:	saint-lucia
COUNTRY: sao-tome-and-principe not found CONCATENATED NAME
Found holidays for:	sao-tome-and-principe
Found holidays for:	sao-tome-and-principe
Found holidays for:	mexico
Found holidays for:	mexico
Found holidays for:	sweden
Found holidays for:	sweden
Found holidays for:	netherlands
Found holidays for:	netherlands
Found holidays for:	oman
Found holidays for:	oman
Found holidays for:	denmark
Found holidays for:	denmark
Found holidays for:	mauritius
Found holidays for:	mauritius
COUNTRY: saint-barthelemy  found in EXCEPTIONS DICT
Found holidays for:	saint-barthelemy
Found holidays for:	saint-barthelemy
Found holidays for:	guatemala
Found holidays for:	guatemala
Found holidays for:	qatar

Found holidays for:	qatar
COUNTRY: antigua-and-barbuda not found CONCATENATED NAME
Found holidays for:	antigua-and-barbuda
Found holidays for:	antigua-and-barbuda
COUNTRY: isle-of-man not found CONCATENATED NAME
Found holidays for:	isle-of-man
Found holidays for:	isle-of-man
Found holidays for:	yemen
Found holidays for:	yemen
Found holidays for:	kenya
Found holidays for:	kenya
COUNTRY: hong-kong not found CONCATENATED NAME
Found holidays for:	hong-kong
Found holidays for:	hong-kong
Found holidays for:	philippines
Found holidays for:	philippines
Found holidays for:	guinea
Found holidays for:	guinea
Found holidays for:	rwanda
Found holidays for:	rwanda

In [26]:
holiday_df.head(10)

  Country    Date  Flag Day         Holiday Name    Holiday Type    Weekday Where It is Observed  Year
0   palau   Jan 1       NaN       New Year's Day  Public Holiday    Tuesday                  NaN  2008
1   palau  Mar 15       NaN            Youth Day  Public Holiday   Saturday                  NaN  2008
2   palau  Mar 20       NaN        March Equinox          Season   Thursday                  NaN  2008
3   palau   May 5       NaN  Senior Citizens Day  Public Holiday     Monday                  NaN  2008
4   palau   Jun 1       NaN      President's Day  Public Holiday     Sunday                  NaN  2008
5   palau  Jun 20       NaN        June Solstice          Season     Friday                  NaN  2008
6   palau   Jul 9       NaN     Constitution Day  Public Holiday  Wednesday                  NaN  2008
7   palau   Sep 1       NaN            Labor Day  Public Holiday     Monday                  NaN  2008
8   palau  Sep 22       NaN    September Equinox          Season     Monday                  NaN  2008
9   palau   Oct 1       NaN     Independence Day  Public Holiday  Wednesday                  NaN  2008

In [27]:
holiday_df.columns = [x.lower() for x in holiday_df.columns]

In [28]:
holiday_DF = holiday_df.reset_index().set_index(['country','year','date']).iloc[:,1:4].reset_index().iloc[:,[0,1,2,4,5]]
holiday_DF[:5]

  country  year    date         holiday name    holiday type
0   palau  2008   Jan 1       New Year's Day  Public Holiday
1   palau  2008  Mar 15            Youth Day  Public Holiday
2   palau  2008  Mar 20        March Equinox          Season
3   palau  2008   May 5  Senior Citizens Day  Public Holiday
4   palau  2008   Jun 1      President's Day  Public Holiday

In [29]:
holiday_DF['_date'] = holiday_DF.apply(lambda row: "-".join(str(row["date"]).split(" "))+"-"+str(row["year"]), axis=1)
holiday_DF[:5]

  country  year    date         holiday name    holiday type        _date
0   palau  2008   Jan 1       New Year's Day  Public Holiday   Jan-1-2008
1   palau  2008  Mar 15            Youth Day  Public Holiday  Mar-15-2008
2   palau  2008  Mar 20        March Equinox          Season  Mar-20-2008
3   palau  2008   May 5  Senior Citizens Day  Public Holiday   May-5-2008
4   palau  2008   Jun 1      President's Day  Public Holiday   Jun-1-2008

In [30]:
holiday_DF = holiday_DF.iloc[:,[0,5]]
holiday_DF["is_holiday"] = 1
holiday_DF[:5]

  country        _date  is_holiday
0   palau   Jan-1-2008           1
1   palau  Mar-15-2008           1
2   palau  Mar-20-2008           1
3   palau   May-5-2008           1
4   palau   Jun-1-2008           1

In [31]:
#holiday_DF = holiday_DF.drop_duplicates(subset=['Country', '_Date'], keep=False)
#holiday_DF[:5]

In [32]:
holiday_DF.columns = ["_country", "date", "is_holiday"]
holiday_DF = holiday_DF.drop_duplicates(subset=['_country', 'date'])
holiday_DF[:5]

  _country         date  is_holiday
0    palau   Jan-1-2008           1
1    palau  Mar-15-2008           1
2    palau  Mar-20-2008           1
3    palau   May-5-2008           1
4    palau   Jun-1-2008           1

In [33]:
 
Holidays_DF = pd.pivot_table(holiday_DF, values = 'is_holiday', index=['date'], columns = '_country',fill_value=0).unstack().reset_index(['_country','date'])
Holidays_DF.columns=['_country','date','is_holiday']

In [34]:
Holidays_DF['country'] = Holidays_DF['_country'].apply(lambda name: ' '.join(name.lower().split('-')))

In [35]:
Holidays_DF[:5]

  _country         date  is_holiday  country
0  algeria   Apr-1-2008           0  algeria
1  algeria   Apr-1-2009           0  algeria
2  algeria  Apr-10-2009           0  algeria
3  algeria  Apr-11-2008           0  algeria
4  algeria  Apr-11-2009           0  algeria

In [36]:
Holidays_DF.sample(10)

                _country         date  is_holiday           country
61781           malaysia  Nov-12-2009           0          malaysia
61931           malaysia  Sep-26-2009           0          malaysia
10989             belize  Mar-20-2009           1            belize
26322            denmark  Jan-31-2008           0           denmark
7369          azerbaijan  Jul-30-2008           0        azerbaijan
107861             tonga  Dec-24-2008           0             tonga
107834             tonga  Dec-11-2008           0             tonga
25497              czech  Dec-26-2008           1             czech
35345   french-polynesia  Dec-21-2009           1  french polynesia
22750       cook-islands   Feb-6-2008           0      cook islands

In [37]:
!rm international_holidays.tsv

In [38]:
Holidays_DF.to_csv('international_holidays.tsv', header=True, sep='\t', encoding='utf-8')

In [39]:
!head international_holidays.tsv

	_country	date	is_holiday	country
0	algeria	Apr-1-2008	0	algeria
1	algeria	Apr-1-2009	0	algeria
2	algeria	Apr-10-2009	0	algeria
3	algeria	Apr-11-2008	0	algeria
4	algeria	Apr-11-2009	0	algeria
5	algeria	Apr-12-2008	0	algeria
6	algeria	Apr-12-2009	0	algeria
7	algeria	Apr-13-2008	0	algeria
8	algeria	Apr-13-2009	0	algeria

### Import USER session data (output from Jayashree)